.header {
  background-color: #666666;
  padding: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.header-content input {
  padding: 9px 14px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
  border-radius: 5px 0 0 5px;
  color: black;
  width: 21%;
  height: 35px;
}

.header-content input:focus {
  outline: none;
  box-shadow: none;
}

.header-content button {
  background-color: #efefef;
  margin: 0 !important;
  border: 0;
  height: 53px;
  border-left: 1px solid #d2d2d2;
  border-radius: 0 5px 5px 0;
  width: 7%;
  font-size: 17px;
}

.content {
  width: 85%;
  margin: 0 auto;
  display: flex;
  margin-top: 7rem;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.content .card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 28px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16%;
  margin: 26px;
  position: relative;
}

.card:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 22px;
}

.image-container {
  position: absolute;
  left: -11px;
  top: 0;
}
.image-container img {
  width: 93px;
}

.image-container span {
  position: absolute;
  left: 31px;
  top: 3px;
  font-weight: 600;
  font-size: 15px;
  color: white;
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.modal-container {
  width: 320px;
  height: 200px;
  padding: 10px;
  border: 5px solid blue;
  margin: 0;
}

.modal-header {
  background-color: #292929;
  padding: 20px;
  border: 0;
}

.modal-header h3{
color: white;
margin: 0;
font-size: 22px;
}

.modal-header button {
    position: absolute;
    right: 14px;
    top: 14px;
    border: 0;
    font-size: 31px;
    background-color: white;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
  padding: 0 39px;
  height: 84%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 11px;
  font-size: 24px;
}
